<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppiumTestSuite" parallel="tests">
    <listeners>

        <listener class-name="listeners.TestListener"></listener>
    </listeners>


    <test name="AppiumTest2">
        <parameter name="emulator" value="Android"/>
        <parameter name="platformName" value="Android"/>
        <parameter name="deviceName" value="Pixel_XL_API_33"/>
        <parameter name="UDID" value="emulator-5556"/>
        <!--
        and must run the server using the port 10001
<parameter name="systemPort" value="10001"/>
<parameter name="chromeDriverPort" value="11001"/>
-->


        <classes>
            <class name="Tests.LoginTests"/>
            <class name="Tests.ProductTests"/>

            <!--

        <methods>
            <include name="invalidUserName"></include>
        </methods>
        -->
        </classes>


    </test>
</suite>